@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: var(--light-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    background: var(--dark-gradient);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.wrapper {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 60px 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
}

.theme-toggle {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.moon-icon {
    display: block;
}

.sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: block;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
}

.caption {
    font-size: 14px;
    color: var(--neutral-100);
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caption h3 {
    font-size: 24px;
    font-weight: 700;
}

.options {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.options button {
    padding: 8px 16px;
    background-color: var(--neutral-800);
    color: var(--neutral-100);
    border-radius: 999px;
    font-size: 14px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid var(--neutral-700);
}

.options button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-900)
}

.options .selected button {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-900);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}