@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: var(--light-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    background: var(--dark-gradient);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.wrapper {
    margin: auto;
    width: 1440px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 60px 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 16px;
}

.dark-mode .header {
    background-color: var(--neutral-800);
}

.header {
    background-color: var(--neutral-0);
}

.theme-toggle {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline-offset: 2px;
}

.dark-mode .theme-toggle {
    background-color: var(--neutral-700);
}

.theme-toggle {
    background-color: var(--neutral-200);
}

.dark-mode .theme-toggle:hover {
    background-color: var(--neutral-600)
}

.theme-toggle:hover {
    background-color: var(--neutral-300);
}

.theme-toggle:focus {
    outline: 1px solid var(--red-500);
}

.moon-icon {
    display: block;
}

.sun-icon {
    display: none;
}

.dark-mode .moon-icon {
    display: none;
}

.dark-mode .sun-icon {
    display: block;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 40px;
    margin-bottom: 20px;
}

.caption {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode .caption {
    color: var(--neutral-100);
}

.caption {
    color: var(--neutral-900);
}

.caption h3 {
    font-size: 24px;
    font-weight: 700;
}

.options {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.options button {
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 14px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    outline-offset: 2px;
    outline-color: transparent;
}

.dark-mode .options button {
    background-color: var(--neutral-800);
    color: var(--neutral-300);
    border-color: var(--neutral-700);
}

.options button {
    background-color: var(--neutral-0);
    color: var(--neutral-900);
    border-color: var(--neutral-100);
}

.dark-mode .options button:hover {
    background-color: var(--neutral-700);
    border: 1px solid var(--neutral-600);
    color: var(--neutral-0)
}

.options button:hover {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-0);
    color: var(--neutral-400);
}

.options button:focus {
    outline: 1px solid var(--red-500);
}

.dark-mode .options .selected button,
.dark-mode .options .selected button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-900);
}

.options .selected button,
.options .selected button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-0);
}

.options .selected button:focus {
    outline: 1px solid var(--red-500);
}

.extensions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.dark-mode .card {
    border-color: var(--neutral-700);
    background: var(--neutral-800);
}

.card {
    border-color: var(--neutral-200);
    background: var(--neutral-0);
}

.card-body {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.dark-mode .card-body {
    color: var(--neutral-300);
}

.card-body {
    color: var(--neutral-600);
}

.card-content h4 {
    margin: 0 0 4px;
    font-size: 18px;
}

.dark-mode .card-content h4 {
    color: var(--neutral-100);
}

.card-content h4 {
    color: var(--neutral-900);
}

.card-content p {
    font-size: 14px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footer-button {
    padding: 8px 16px;
    border-radius: 9999px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    outline-offset: 2px;
}

.dark-mode .footer-button {
    border-color: var(--neutral-600);
    color: var(--neutral-0);
}

.footer-button {
    border-color: var(--neutral-300);
    color: var(--neutral-900);
}

.dark-mode .footer-button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-900)
}

.footer-button:hover {
    background-color: var(--red-500);
    border: 1px solid var(--red-400);
    color: var(--neutral-0);
}

.footer-button:focus {
    outline: 1px solid var(--red-500);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border-radius: 24px;
    outline-offset: 2px;
}

.dark-mode .toggle-switch .slider {
    background-color: var(--neutral-600);
}

.toggle-switch .slider {
    background-color: var(--neutral-300);
}

.toggle-switch input:focus+.slider {
    outline: 1px solid var(--red-500);
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--neutral-0);
    transition: .4s;
    border-radius: 50%;
}

.toggle-switch input:checked+.slider {
    background-color: var(--red-500);
}

.toggle-switch input:checked+.slider:before {
    transform: translateX(16px);
}

.dark-mode .attribution {
    color: var(--neutral-300);
}

.attribution {
    color: var(--neutral-600);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 1024px) {
    .wrapper {
        padding: 40px;
    }
    .extensions-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 425px) {
    .wrapper {
        padding: 20px;
    }
    .caption {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .extensions-list {
        grid-template-columns: 1fr;
    }
}